@model PWEntity.UserDetail

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/signin.css" />

</head>
<body>
    @if (ViewBag.RegistrationSuccess!=null)
    {
        <h3 class="text-success text-center">@ViewBag.RegistrationSuccess</h3>
    }
    @if (ViewBag.LoginFailed != null)
    {
        <h3 class="text-success text-center">@ViewBag.LoginFailed</h3>
    }
    @using (Html.BeginForm("Login", "User", FormMethod.Post, new { @class = "form-signin", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <h2 class="form-signin-heading">Please sign in</h2>
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email Here" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control",@placeholder="Enter Password Here" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Forgot Your Password?", htmlAttributes: new { @class = "control-label col-md-8" })
                <div class="col-md-4">
                    @Html.ActionLink("Click Here", "ForgotPassword", "User", null, new { @class = "btn btn-lg btn-link pull-right" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Signin" class="btn btn-lg btn-primary btn-block" />
                </div>
            </div>
        </div>
    }

    <div>
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Back to List", "Home", "User", null, new { @class = "btn btn-lg btn-primary" })
            @Html.ActionLink("Sign Up", "Create", "User", null, new { @class = "btn btn-lg btn-info pull-right" })


        </div>

    </div>
</body>
</html>
